// Sizes
.mw--100{max-width: 100%;height: auto;}
.mw--200px{max-width: 200px;height: auto;}
.mh--240px{max-height: 240px;}
.mh--250px{max-height: 250px;}
.w--100{width: 100%;}
.w--auto{width: auto;}
.mh--100{max-height: 100%;}

// Margins
.m--0{margin:0!important;}
.mt--0{margin-top:0;}
.mt--5{margin-top:5px;}
.mt--15 {margin-top: 15px!important;}
.mt--17{margin-top:17px;} // used to balance the albums buttons in home page
.mt--20{margin-top:20px;}
.mt--30 {
  margin-top:30px;
  @include bp(tab){margin-top: 30px;}
}
.mb--0{margin-bottom:0;}
.mb--30{margin-bottom:30px;}
.mb--50{margin-bottom:50px;}
.mlr--auto{margin-left:auto;margin-right: auto;}

// Paddings
.p--0{padding: 0;}
.p--10{padding:10px;}
.p--15{padding:15px;}
.p--30 {padding: 30px;}
.p--50 {padding: 50px;}
.ptb--50 {padding: 50px 0;}
.plr--8{padding: 0 8px;}
.plr--15{padding: 0 15px;}
.plr--50 {padding: 0 50px;}
.pt--0{padding-top:0;}
.pt--15{padding-top:15px;}
.pl--15{padding-left:15px;}
.pb--15{padding-bottom: 15px;}
.pb--30{padding-bottom: 30px;}
.pt--15-r{padding-top:15px!important;
  @include bp(tab){
    padding-top:0;
  }
}

// Text styles
.ta--c{text-align: center;}
.ta--j {text-align: justify;}
.ta--l{text-align:left;}
.ta--r{text-align:right;}
.tt--u{text-transform: uppercase;}
.fw--b{font-weight: bold;}
.ts--w{text-shadow: 0 1px 20px #ffffff;}
.to--e{text-overflow: ellipsis;overflow: hidden;display: block;white-space: nowrap;}
.o--h{overflow: hidden;}

// Font styles
.fs--15em{font-size: 1.5em;}
.fs--15{font-size:15px;}
.bsh--none{box-shadow: none;}
.b-none{border:none;}

// Colors
.c--white{color:white;}
.c--black{color:#232323!important;}
.c--brand{color:$brand-info;}

// Backgrounds
.b--ghost{background: transparent;}
.b--white{background: white;}
.b--f9f9f9{background: #f9f9f9;}
.b--black{background-color: black;}
.b--black-2{background-color: #0f0f0f;}
.b--black-full{background: black;}
.b--watermelon{background-color: $brand-watermelon;}

// Others
.ww--bw{word-wrap: break-word;}
.fs--15em{font-size:1.5em;}
.cover{
  background-size:cover;
  background-position: center center;
}
.disabled{cursor: not-allowed;}

.contain{background-size: contain;background-position: center center;}
.img--center{display: block;margin: 0 auto;text-align: center;}
