// Display table

.display-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.display-cell {
  display: table-cell;
  padding: 0 15px;
  vertical-align: middle;
  width: 100%;
}

// Displays

.d--b{display: block;}
.d--ib{display: inline-block;}
.d--f{display: flex;}
.fd--r{flex-direction: row;}
.fd--c{flex-direction: column;}
.fg--1{flex-grow: 1;}
.fw--w{flex-wrap: wrap;}
.ai--fe{align-items: flex-end;}
// Align

.va--m{vertical-align: middle;}

// Positions
.pos--r{position: relative;}
.f--n{float:none;}
.clear{clear: both;}

// Special containers
.container{
  width: 90%;
  margin: 0 auto;
  @include bp(lap){
    width: 960px;
    padding: 0 16px;
  }
}

.container--wide {
  margin: 0 auto;
  max-width: 2560px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.container.container-smaller {
  background-color: #ffffff;
  margin-top: -75px;
  padding: 30px;
  width: 650px;
  display: block;
  position: relative;
  max-width: 100%;
}
